
body {
    background-image: url('/src/components/assets/img/default.jpg'); /* Adjust the path as needed */
    background-size: cover; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.2);
}
.table-container {
    font-family: "IRANSans", sans-serif;
    font-size: 0.8rem; /* Smaller font size */
    margin: 20px;
}

.recipient-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    cursor: pointer;
    font-family: "IRANSans", sans-serif;
    font-size: 0.8rem; /* Smaller font size */
}

.recipient-table th, .recipient-table td {
    padding: 8px;
    border: 1px solid #d1d0d0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recipient-table th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.recipient-table tr {
    background-color: rgba(250, 251, 254, 0.57);
}


.recipient-table tr:hover {
    background-color: #f1f1f1;
}

.table-header-row {
    background-color: #f2f2f2; /* Header background color */
}

.table-header-row th {
    padding: 8px; /* Padding inside header cells */
}
.table-footer-row {
    background-color: #f2f2f2; /* Footer background color */
}

.table-footer-row td {
    padding: 8px; /* Padding inside footer cells */
}

.table-search-input {
    width: 100%; /* Full width of the cell */
    padding: 0; /* Padding inside input */
    height: 40px; /* Height of the input */
    border: 1px solid #ddd; /* Border around the input */
    border-radius: 4px; /* Rounded corners */
    font-size: 0.7rem; /* Smaller font size for input text */
    font-family: "IRANSans", sans-serif; /* Font family for input text */
    font-weight: bold;
    direction: rtl; /* Right-to-left direction */
    text-align: right; /* Align text to the right */
    text-indent: 10px; /* Indent text */
}
/* text input clear indicator*/
.table-search-input::-webkit-input-placeholder {
    text-indent: 10px; /* Indent placeholder text */
    font-family: "IRANSans", sans-serif; /* Font family for placeholder text */
    font-weight: bold;
    direction: rtl; /* Right-to-left direction */
    text-align: right; /* Align placeholder text to the right */
    color: #000; /* Placeholder text color */
    opacity: 0.7; /* Slightly transparent placeholder */
}

.table-search-input:-ms-input-placeholder {
    text-indent: 10px; /* Indent placeholder text */
    font-family: "IRANSans", sans-serif; /* Font family for placeholder text */
    font-weight: bold;
    direction: rtl; /* Right-to-left direction */
    text-align: right; /* Align placeholder text to the right */
    color: #000; /* Placeholder text color */
    opacity: 0.7; /* Slightly transparent placeholder */
}

.table-search-input::placeholder {
    text-indent: 10px; /* Indent placeholder text */
    font-family: "IRANSans", sans-serif; /* Font family for placeholder text */
    font-weight: bold;
    direction: rtl; /* Right-to-left direction */
    text-align: right; /* Align placeholder text to the right */
    color: #000; /* Placeholder text color */
    opacity: 0.7; /* Slightly transparent placeholder */
}

/* For the date input specifically */
.table-search-input[type="date"] {
    direction: ltr; /* Keep the direction left-to-right for date inputs */
}

/* Adjustments for the search input placeholders */
.table-search-input::placeholder {
    font-family: "IRANSans", sans-serif; /* Font family for placeholders */
    text-align: right; /* Align placeholder text to the right */
    opacity: 0.7; /* Slightly transparent placeholder */
}
.modal-header {
    background-color: rgba(2, 74, 137, 0.9); /* Header background color */
    padding: 10px; /* Padding inside header cells */
    font-size: 1rem; /* Font size for header text */
    font-weight: bold; /* Bold header text */
    text-align: right; /* Align header text to the right */
    text-indent: 10px;
    font-family: "IRANSans", sans-serif; /* Font family for header text */
}
.modal-table-header {
    background: rgba(28, 94, 161, 0.8); /* Header background color */
    padding: 10px; /* Padding inside header cells */
    font-size: 0.75rem; /* Font size for header text */
    font-weight: bold; /* Bold header text */
    text-align: right; /* Align header text to the right */
    font-family: "IRANSans", sans-serif; /* Font family for header text */
    text-indent: 10px;
}

/* Style for the table footer row */
.table-footer {
    background-color: rgba(98, 98, 98, 0.2);
    font-weight: bold;
    border: 1px solid rgba(29, 72, 231, 0.9);
    font-size: 0.8rem;
    text-indent: 1rem;
    color: #014682;
}
.table-footer tr:hover {
    background-color: rgba(238, 243, 248, 0.49);
}

/* Style for the subtotal columns */
.subtotal-col {
    text-align: right;
    padding: 8px;
    border: 2px solid #dddddd;
    font-size: 0.8rem;
    font-weight: bold;
    color: #014682;

}
